/* Variabelen */
$backgroundcolor: #97d279;
$backgroundcolorHeader:#c0eea9; 
$standardPadding: 20px;


/* Mixins */
@mixin text-styling {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
